<%-include('./partials/header') %>

<form action='/login' method='POST'>
	<input type='text' name='username' placeholder='placeholder'>
	<input type='password' name='password' placeholder='password'>
	<input type='submit' value='Login!'>
</form>

<%-include('./partials/footer') %>